.fas, .far {
    color: hsla(0, 90%, 90%, 0.1);
    text-shadow: 0.5px 0.5px 0.5px #ccc;
    font-size: 1.2em;
}

.sidebar-link > .title {
    color: hsla(0, 100%, 100%, 1);
}

.title:hover {
    color: hsla(240, 80%, 80%, 0.5);
}