*,
*::before,
*::after {
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 15% 90%;
    grid-gap: 10px;
}

.header {
    grid-column: 1/ span 2;
    background-color: hsl(0, 0%, 0%);
}

.main {
    grid-column: 2/ span 1;
    background-color: aqua;
}

.aside {
    background-color: hsl(0, 0%, 0%);
}

.title {
    display: grid;
    grid-template-columns: 85% 15%;
    padding-right: 25px;
    border: 20%;
    background-color: hsl(0, 0%, 40%);
    border: 3px dotted hsl(10, 10%, 0%);
    border-radius: 50px;
}

.title h1 {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
    font-size: 2em;
    color: hsl(90, 37%, 82%);
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: middle;
    margin-left: 20px;
}

.table-style {
    border-radius: 50px !important;
}