.custom-navbar {
    background-color: hsla(0, 0%, 0%, 1);
}

.aside {
    margin-top: 1px;
}

.sidebar {
    width: 100%;
    height: 100vh;
    color: #fff;
    background-color: hsla(0, 0%, 0%, 1);
}

.sidebar .nav {
    margin-top: 15px;
    display: block;
}

.nav {
    list-style: none;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav .nav-item .nav-link {
    color: #fff;
}

.nav-link {
    color: #fff;
}

.nav li a {
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: capitalize;
    font-size: 13px;
}

.nav>li.active {
    background-color: #e91e63;
}

.nav>li i {
    color: hsla(0, 0%, 100%, .8);
    font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
}

.nav>li p {
    margin: 0;
    line-height: 30px;
    font-size: 14px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
}

.content {
    margin-top: 50px;
}